.content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.5;
    padding: 50px 150px;
    border: 1px solid black;
}
h1 {
    font-size: 38px;
    text-align: center;
    letter-spacing: .04em;
}
h2 {
    font-size: 15px;
    text-align: center;
    color: #006EB6;
    letter-spacing: .15em;
    line-height: 1.5;
    border-bottom: .1px solid #b8b8b8;
}
.p1 {
    padding-top: 10px;
}
li {
    padding-top: 10px;
}
img {
    width: 150px;
    text-align: center;
    padding-left: 225px;
    padding-top: 40px;
}
.dark {
    background-color: #333;
    color: white;
}
.dark h2 {
    color: #A0D4ED;
}